body {
  background: #ffe;	
}

#container {
	width: 1000px;
	margin: 10px auto;
}

#stage {
	background: #fff;
	border: 1px solid #999;
	margin-bottom: 15px;
}

#creator {
	float: left;
	width: 490px;
	background: #dfdfdf;
	border: 1px solid #999;
}
#designer {
  margin: 20px;	
}
#frm_t {
	width: 150px;
}

#feedback {
	float: right;
	width: 490px;
	background: #b8b8b8;
	border: 1px solid #999;
}
#console {
	margin: 20px;
}
#console h3 {
	text-align: center;
	//text-decoration: underline;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.btn_green, .btn_red {
	padding: 3px 10px 2px;
	font: 500 11px sans-serif;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 2px #666;
	border: 1px solid #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px 2px #888;
	-webkit-box-shadow: 2px 2px 2px #888;
	box-shadow: 2px 2px 2px #888;
}
.btn_green {
	background: #080;
}
.btn_red {
	background: #a00;
}
.clear10 {
	clear: both;
	height: 10px;
}